@using SalesCrm.Domains.Enums
@model SalesCrm.Controllers.ViewModels.PaymentRecordViewModel

@{
    ViewData["List"] = "Payment Record List";
    ViewData["Title"] = "Create Payment Slip";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-body">

            <!-- Breadcrumbs -->
            @await Html.PartialAsync("_BreadcrumbPartial", new[]
            {
                @ViewData["List"]!.ToString(),
                @ViewData["Title"]!.ToString()
            }) <br/>

            <!-- Create form -->
            <form method="post" id="paymentRecordForm">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-6">
                        <div class="form-group indent">
                            <label asp-for="EmployeeId"
                                   class="form-label"></label>
                            <select asp-for="EmployeeId"
                                    asp-items="@ViewBag.Employees"
                                    class="form-control" id="employeeSelect">
                                <option value="">-- Please select employee --</option>
                                <option>Test</option>
                            </select>
                            <span id="employeeSelectError" class="text-danger"></span>
                            @* <span asp-validation-for="EmployeeId" class="text-danger"></span> *@
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group indent">
                            <label asp-for="TaxYearId"
                                   class="form-label"></label>
                            <select asp-for="TaxYearId"
                                    asp-items="@ViewBag.TaxYear"
                                    class="form-control" id="taxYearSelect">
                                <option value="">-- Select Tax Year --</option>
                            </select>
                            <span id="taxYearSelectError" class="text-danger"></span>
                            @* <span asp-validation-for="TaxYearId" class="text-danger"></span> *@
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="form-group indent">
                            <label asp-for="PayMonth"
                                   class="form-label"></label>
                            <select asp-for="PayMonth"
                                    class="form-control"
                                    id="payMonthSelect">
                                <option value="">-- Select Month --</option>
                                @foreach (var month in Enum.GetValues(typeof(Month)))
                                {
                                    <option value="@month">@month</option>
                                }
                            </select>
                            <span id="payMonthSelectError" class="text-danger"></span>
                            @* <span asp-validation-for="PayMonth" class="text-danger"></span> *@
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group indent">
                            <label asp-for="HourlyRate" class="form-label"></label>
                            <input asp-for="HourlyRate" class="form-control"/>
                            <span asp-validation-for="HourlyRate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group indent">
                            <label asp-for="HoursWorked" class="form-label"></label>
                            <input asp-for="HoursWorked" class="form-control"/>
                            <span asp-validation-for="HoursWorked" class="text-danger"></span>
                        </div>
                    </div>
                </div> <br/>

                <!-- Create button -->
                <div class="row mt-2">
                    <div class="col-3">
                        <button type="submit" class="btn btn-rounded btn-primary">
                            Create
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<style>
    .indent {
        margin-top: 20px!important;
    }
</style>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById("paymentRecordForm").addEventListener("submit", function(event) {
            var employeeSelect = document.getElementById("employeeSelect");
            var employeeSelectError = document.getElementById("employeeSelectError");
            if (!employeeSelect.value) {
                event.preventDefault();
                employeeSelectError.textContent = "Please select an Employee.";
            } else {
                employeeSelectError.textContent = "";
            }
        });
         document.getElementById("paymentRecordForm").addEventListener("submit", function(event) {
             var employeeSelect = document.getElementById("taxYearSelect");
             var employeeSelectError = document.getElementById("taxYearSelectError");
             if (!employeeSelect.value) {
                 event.preventDefault();
                 employeeSelectError.textContent = "Please select an Tax Year.";
             } else {
                 employeeSelectError.textContent = "";
             }
         });
          document.getElementById("paymentRecordForm").addEventListener("submit", function(event) {
              var employeeSelect = document.getElementById("payMonthSelect");
              var employeeSelectError = document.getElementById("payMonthSelectError");
              if (!employeeSelect.value) {
                  event.preventDefault();
                  employeeSelectError.textContent = "Please select an Pay Month.";
              } else {
                  employeeSelectError.textContent = "";
              }
          });   
    </script>
}