@model IEnumerable<SalesCrm.Controllers.ViewModels.PaymentRecordViewModel>

@{
    ViewData["List"] = "Payment Record List";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">

                <!-- Breadcrumbs -->
                @await Html.PartialAsync("_BreadcrumbPartial", new[] {@ViewData["List"]!.ToString(), ""})
                <br/>

                <!-- Title -->
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <h2 class="page-title">@ViewData["List"]</h2>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-6" style="padding-top:30px">
                        <div class="text-md-start">
                            <a class="btn btn-primary" role="button" asp-action="CreatePaymentSlip">
                                Create new Payment Record
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Employee</th>
                    <th>Pay Date</th>
                    <th>Pay Month</th>
                    <th>Tax Year</th>
                    <th>Total Earnings</th>
                    <th>Total Deduction</th>
                    <th>Net Payment</th>
                    <th>Actions</th>
                </tr>
                </thead>
                
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Employee?.Name</td>
                        <td>@item.PayDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.PayMonth</td>
                        <td>@item.TaxYear?.YearOfTax</td>
                        <td>@item.TotalEarnings.ToString("C")</td>
                        <td>@item.TotalDeduction.ToString("C")</td>
                        <td>@item.NetPayment.ToString("C")</td>
                        <td>
                            <a class="btn btn-outline-primary button"
                                    href='@Url.Action("GenerateInvoicePdf", new { PaymentRecordId  = item.Id })'>
                                pdf
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
                
            </table>
        </div>
    </div>
</div>

<style>
    /*.table-container {*/
    /*    max-width: 1000px; !* Adjust the maximum width as needed *!*/
    /*    margin: auto;*/
    /*}*/
    
       table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
       }
     
        .button {
            padding:0 0.9rem
        }
        
        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 12px;
        }
        
        th {
            background-color: #e9eaf5;
        }
        
        td {
            max-width: 200px; /* Limit the maximum width of cells */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        a {
            text-decoration: none;
        }
            
        a:hover {
            color: #0319eb;
            /*text-decoration: underline;*/
        }
</style>