@model List<SalesCrm.Controllers.ViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Roles list";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <!-- Card breadcrumb -->
                @await Html.PartialAsync("_BreadcrumbPartial", new[] {@ViewData["Title"]!.ToString(), ""})
                <br/>

                <!-- Card title -->
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-title">@ViewData["Title"]</h2>
                    </div>
                </div>

                @* <div class="table-container"> *@
                <div class="row">
                    <div class="col-md-6" style="padding-top:30px">
                        <div class="text-md-start">
                            <a class="btn btn-primary" role="button" asp-action="CreateRole">
                                Create role
                            </a>
                        </div>
                    </div>
                </div>
                @* </div> *@

                <!-- Role table -->
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a class="btn btn-outline-primary button"
                                   asp-action="EditRole"
                                   asp-route-id="@item.Id">
                                    edit
                                </a>
                                <button class="btn btn-outline-danger button"
                                        onclick="showConfirmationDialog(event,
                                     'Are you sure you want to delete this news?',
                                     '@Url.Action("DeleteRole", new {@item.Id})')">
                                    delete
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("../Shared/_DeleteConfirmationModal")

<style>
    /*.table-container {*/
    /*    max-width: 1000px; !* Adjust the maximum width as needed *!*/
    /*    margin: auto;*/
    /*}*/
    
       table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
       }
     
        .button {
            padding:0 0.9rem
        }
        
        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 12px;
        }
        
        th {
            background-color: #e9eaf5;
        }
        
        td {
            max-width: 200px; /* Limit the maximum width of cells */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        a {
            text-decoration: none;
        }
            
        a:hover {
            color: #0319eb;
            /*text-decoration: underline;*/
        }
</style>