@{
    ViewData["Title"] = "News";
}

<div>
    <h1 class="display-4 text-center">
        Admin News Page
    </h1>

    <a href="/admin/news/createNews" role="button" class="btn btn-primary">Create news</a>
    <br/>
    <hr/>
    <br/>

    <h4 class="page-title" style="line-height:15px;">News</h4>
    <br/>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <span>@item.Title</span>
                <span>@item.Text</span>
                <span>@item.Date.ToString("yyyy.MM.dd HH:mm")</span>
                <span>@item.AuthorId</span>
                <span>@item.CreateDate.ToString("yyyy.MM.dd HH:mm")</span>
                <span>@item.IsActive</span>
            </li>
        }
    </ul>
</div>