@{
    ViewData["Title"] = "News";
}

<div>
    <h1 class="display-4">News</h1>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Text</td>
            <td>@item.Date.ToString("yyyy.MM.dd HH:mm")</td>
            <td>@item.AuthorId</td>
            <td>@item.CreateDate.ToString("yyyy.MM.dd HH:mm")</td>
            <td>@item.IsActive</td>
            <td>
                <a href="/admin/news/edit/@item.Id">edit</a>
            </td>
            <td>
                <a href="/admin/news/delete/@item.Id">delete</a>
            </td>
        </tr>
    }
</div>