@{
    ViewData["Title"] = "News";
}

<div>
    <h1 class="display-4 text-center">
        Admin News Page
    </h1>

    <a class="btn btn-primary" role="button" asp-action="CreateNews">
        Create news
    </a>
    <br/>
    <hr/>
    <br/>

    <h4 class="page-title" style="line-height:15px;">News</h4>
    <br/>

    <table>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Publication date</th>
            <th>AuthorId</th>
            <th>CreateDate</th>
            <th>Is active</th>
            <th></th>
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Text</td>
                <td>@item.Date.ToString("yyyy")</td>
                <td>@item.AuthorId</td>
                <td>@item.CreateDate.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@item.IsActive</td>
                <td>
                    <a href="/admin/news/edit/@item.Id">edit</a>
                </td>
                <td>
                    <a class="delete-link" href="/admin/news/delete/@item.Id"
                       onclick="return confirm('Are you sure you want to delete this news item?')">
                        delete
                    </a>
                </td>
            </tr>
        }
        
    </table>
</div>

<style>
    table {
      padding: 10px;
    }
    td, th {
      padding: 10px;
    }
</style>
