@model Payroll.Controllers.ViewModels.UserViewModel

@{
    ViewData["List"] = "User list";
    ViewData["Title"] = "Edit user";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-body">

            <!-- Breadcrumb -->
            @await Html.PartialAsync("_BreadcrumbPartial", new[]
                     {
            "Admin", @ViewData["List"], @ViewData["Title"]
            })
            <br />

            <!-- Title -->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">@ViewData["Title"]</h2>
                </div>
            </div>

            <!-- Form -->
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="UserName" class="form-label"></label>
                            <input asp-for="UserName" class="form-control" placeholder="Enter name" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Created" class="form-label"></label>
                            <input asp-for="Created" class="form-control" placeholder="Enter name" />
                            <span asp-validation-for="Created" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Enter name" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="LockoutEnd" class="form-label"></label>
                            <input asp-for="LockoutEnd!.Value.DateTime" class="form-control" placeholder="Enter name" />
                            <span asp-validation-for="LockoutEnd" class="text-danger"></span>
                        </div>
                    </div>

                    <fieldset>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-label">Change role</label>
                                <div class="role-list">
                                    <!-- Empty checkboxes for all application roles -->
                                    @foreach (var role in Model.ApplicationRoles!)
                                    {
                                        <div class="role-item">
                                            <input type="checkbox" id="@($"role_{role}")" name="roles" value="@role"
                                            @(Model.Roles!.Contains(role) ? "checked=\"checked\"" : "") />
                                            <label for="@($"role_{role}")">
                                                @role
                                            </label>
                                        </div>
                                    }
                                    <!-- Checkboxes for other user roles -->
                                    @foreach (var role in Model.Roles!)
                                    {
                                        if (role != "Admin" && role != "Manager")
                                        {
                                            <div class="role-item">
                                                <input type="checkbox" id="@($"role_{role}")" name="roles" value="@role"
                                                @(Model.Roles.Contains(role) ? "checked=\"checked\"" : "") />
                                                <label for="@($"role_{role}")">
                                                    @role
                                                </label>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div> <br />

                <!-- Update button -->
                <div class="row mt-2">
                    <div class="col-3">
                        <button type="submit" class="btn btn-rounded btn-primary">
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .role-list {
        display: flex;
        flex-direction: column;
    }

    .role-item {
        margin-bottom: 10px;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    .form-group {
        margin-top: 20px !important;
    }
</style>